body {
	height: 100px;
}

#head {
	background: linear-gradient(to bottom, black, transparent);
	height: 100px;
	color: white;
	font-size: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	position: fixed;
	top: 0;
	width: 100%;

}

a {
	margin-right: 20px;
	text-decoration: none;
	color: white;
}

a:hover {
	border-bottom: 2px solid red;
}

#loginBtn {
	background-color: #181818;
	color: white;
	padding: 10px;
	margin-right: 20px;
	border-radius: 10px;
	cursor: pointer;
}

.flex-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.flex-item {
	flex: 1;
	text-align: center;
}

.flex-item:first-child {
	text-align: left;
}

.flex-item:last-child {
	text-align: right;
}

.logo {
	width: 120px;
	margin-left: 50px;
	cursor: pointer;
	}